@model IEnumerable<ProProperty.Models.Property>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <img src="~/Image/header.png"/>
    </div>

    <div class="row">

        <div class="col-md-4">
            @using (Html.BeginForm("Index", "Property", FormMethod.Get))
            {
            <h1>Property Search</h1>

                <div class="row">
                    <span class="col-md-6">Price</span>
                    <span class="col-md-6">@Html.DropDownList("priceRange_DDL")</span>

                </div>
                <div class="row">
                    <span class="col-md-6">Property Type</span>
                    <span class="col-md-6">@Html.DropDownList("propertyType_DDL")</span>

                </div>
                <div class="row">
                    <span class="col-md-6">Room</span>
                    <span class="col-md-6">@Html.DropDownList("roomType_DDL")</span>
                </div>
                <div class="row">
                    <span class="col-md-6">District</span>
                    <span class="col-md-6">@Html.DropDownList("district_DDL")</span>
                </div><br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @{
                            foreach (String item in ViewBag.PremiseType)
                            {
                                @Html.CheckBox("checkbox_Premises" + item);<span>&nbsp;</span>
                                @Html.Label("checkbox_Premises" + item, item)<br />
                            }
                        }
                    </div>
                </div><br />
                <button type="submit" class="btn btn-success btn-md">Go</button>
                            }

</div>
        <div class="col-md-8">
            <script src="http://maps.googleapis.com/maps/api/js">
            </script>

            <script>
                function InitializeMap() {
                    var latlng = new google.maps.LatLng(1.337025, 103.7865492);
                    var myOptions = {
                        zoom: 10,
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);


                }
                window.onload = InitializeMap;
            </script>
            <div id="map_canvas" style="width:900px; height:500px"></div>
        </div>
    </div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.block)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.block)
            </td>
            
        </tr>
    }
</table> 
