@model ProProperty.Models.Property

@{
    ViewBag.Title = "PropertyInformation";
}
<style>
    .propertyResult th, td {
        overflow: hidden;
        height: 15px;
    }

    .grey {
        color: grey;
        font-weight: 200;
    }

    .bold {
        font-weight: bold;
        font-size: large;
    }
</style>
<h2>Property details</h2>

<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <table class="propertyResult table-condensed">
                    <tbody>
                        <tr>
                            <td><div class="bold">HDB Town</div></td>
                            <td>@Html.DisplayFor(model => model.HDBTown)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Address</div></td>
                            <td>@Html.DisplayFor(model => model.address)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Block</div></td>
                            <td>@Html.DisplayFor(model => model.block)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Unit</div></td>
                            <td>#@Html.DisplayFor(model => model.unitFloor) - @Html.DisplayFor(model => model.unitNo)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Postal Code</div></td>
                            <td>@Html.DisplayFor(model => model.postalCode)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Asking price</div></td>
                            <td>$@Html.DisplayFor(model => model.asking)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Date posted</div></td>
                            <td>@Html.DisplayFor(model => model.datePosted)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Built Size</div></td>
                            <td>@Html.DisplayFor(model => model.built_size_in_sqft)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Expiry Date</div></td>
                            <td>@Html.DisplayFor(model => model.expiryDate)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <img src="@Url.Action("EfficiencyChart", "AveragePropertySellingPrice",new { district = @ViewBag.Town_Name, room = @ViewBag.Property_Room_Type })" />
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.propertyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
