@model ProProperty.Models.Property

@{
    ViewBag.Title = "PropertyInformation";
}
<style>
    .propertyResult th, td {
        overflow: hidden;
        height: 15px;
    }

    .grey {
        color: grey;
        font-weight: 200;
    }

    .bold {
        font-weight: bold;
        font-size: large;
    }
</style>
<h2>Property details</h2>

<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Property Information</h3>
                <hr />
                <table class="propertyResult table-condensed">
                    <tbody>
                        <tr>
                            <td><div class="bold">Address</div></td>
                            <td>@Html.DisplayFor(model => model.address)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Block</div></td>
                            <td>@Html.DisplayFor(model => model.block)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Unit</div></td>
                            <td>#@Html.DisplayFor(model => model.unitFloor) - @Html.DisplayFor(model => model.unitNo)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Postal Code</div></td>
                            <td>@Html.DisplayFor(model => model.postalCode)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Asking price</div></td>
                            <td>$@Html.DisplayFor(model => model.asking)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Date posted</div></td>
                            <td>@Html.DisplayFor(model => model.datePosted)</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Built Size</div></td>
                            <td>@Html.DisplayFor(model => model.built_size_in_sqft)</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Agent Information</h3>
                <hr />
                <table class="propertyResult table-condensed">
                    <tbody>
                        <tr>
                            <td><div class="bold">Name</div></td>
                            <td>@ViewBag.AgentName</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Contact Number</div></td>
                            <td>@ViewBag.AgentContactNumber</td>
                        </tr>
                        <tr>
                            <td><div class="bold">Email</div></td>
                            <td>@ViewBag.AgentEmail</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-8">
                <img src="@Url.Action("compareChart", "AveragePropertySellingPrice",new { district = @ViewBag.Town_Name, room = @ViewBag.Property_Room_Type,currentPrice=@ViewBag.CurrentPrice })" />
            </div>
        </div>
    </div>
</div>
