@model IEnumerable<ProProperty.Models.PropertyWithPremises>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <img src="~/Image/header.png"/>
    </div>
<script type="Scripts/googleApi.js">
    testHello;
</script>
<p id="demo"></p>
    <div class="row">

        <div class="col-md-4">
            @using (Html.BeginForm("SearchProperty", "Search", FormMethod.Post))
            {
            <h1>Property Search</h1>

                <div class="row">
                    <span class="col-md-6">Price</span>
                    <span class="col-md-6">@Html.DropDownList("priceRange_DDL")</span>

                </div>
                <div class="row">
                    <span class="col-md-6">Property Type</span>
                    <span class="col-md-6">@Html.DropDownList("propertyType_DDL")</span>

                </div>
                <div class="row">
                    <span class="col-md-6">Room</span>
                    <span class="col-md-6">@Html.DropDownList("roomType_DDL")</span>
                </div>
                <div class="row">
                    <span class="col-md-6">District</span>
                    <span class="col-md-6">@Html.DropDownList("district_DDL")</span>
                </div><br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @{
                            foreach (ProProperty.Models.PremiseTypeCB item in ViewBag.PremiseType)
                            {
                                @Html.CheckBox("checkbox_Premises" + item.premiseType, item.isChecked);<span>&nbsp;</span>
                                @Html.Label("checkbox_Premises" + item.premiseType, item.premiseType)<br />
                            }
                        }
                    </div>
                </div><br />
                <button type="submit" class="btn btn-success btn-md">Go</button>
              }
        </div>
        <div class="col-md-8">
            <script src="http://maps.googleapis.com/maps/api/js">
            </script>

            <script>
                var map;
                function createMarker(id, address, lat, lng, type, link) {
                    console.log(id + lat);
                    console.log(lng);
                    console.log(type);
                    var image = returnIcon(type);
                    console.log(image);
                    var marker = new google.maps.Marker
                        (
                            {
                                position: new google.maps.LatLng(lat, lng),
                                map: map,
                                icon: image,
                                title: address
                            }
                        );
                    //for clicking on the marker
                    var infowindow = new google.maps.InfoWindow({
                        content: address + '</br><a href="' + link + '"> View property </a>'
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
                }
                function returnIcon(type) {
                    if (type == "hdb") {
                        return '/Image/icon/hdb.png';
                    }
                    if (type == "private") {
                        return '/Image/icon/private.png';
                    }
                    if (type == "landed") {
                        return '/Image/icon/landed.png';
                    }
                }
                function returnPremises(type) {
                    if (type == "dining") {
                        return 1;
                    }
                    if (type == "train") {
                        return 1;
                    }
                    if (type == "school") {
                        return 1;
                    }
                    if (type == "park") {
                        return 1;
                    }
                    if (type == "highway") {
                        return 1;
                    }
                    if (type = "gym") {
                        return 1;
                    }
                    if (type == "clinic.png") {
                        return 1;
                    }
                }
                function InitializeMap() {

                    var latlng = new google.maps.LatLng(1.373334, 103.835518);
                    var myOptions = {
                        zoom: 11,
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                    //createMarker();
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                                @*@Html.DisplayFor(modelItem => item.property_id)
                                @Html.DisplayFor(modelItem => item.address)
                                @Html.DisplayFor(modelItem => item.latitude)
                                de=@Html.DisplayFor(modelItem => item.longtitude)
                                @Html.DisplayFor(modelItem => item.type)*@
                                <text>createMarker(@Html.DisplayFor(modelItem => item.property.propertyID), "@Html.DisplayFor(modelItem => item.property.address)", @Html.DisplayFor(modelItem => item.property.Latitude), @Html.DisplayFor(modelItem => item.property.Longitude),"@Html.DisplayFor(modelItem => item.property.propertyType)", "@Url.Action("PropertyDetails", "Property", new { id = item.property.propertyID } )");</text>
                                @*<text>createMarker();</text>*@
                        }
                    }


                }
                window.onload = InitializeMap;

            </script>

            <div id="map_canvas" style="width:900px; height:500px"></div>
        </div>
    </div>


