@model IEnumerable<ProProperty.Models.PropertyWithPremises>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.legendtable th,td {
    overflow: hidden;
    width: 200px;
}
</style>
<div class="row">
    <img src="~/Image/header.png" />
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('div.col-md-1.dropdown button').on('click', function (event) {
            $(this).parent().toggleClass('open');
        });

        $('body').on('click', function (e) {
            if (!$('div.col-md-1.dropdown').is(e.target)
                && $('div.col-md-1.dropdown').has(e.target).length === 0
                && $('.open').has(e.target).length === 0
            ) {
                $('div.col-md-1.dropdown').removeClass('open');
            }
        });//End of body.onClick function body
    });//End of document.ready function body
</script>
<div class="row">

    @using (Html.BeginForm("SearchProperty", "Search", FormMethod.Post))
    {

        <div class="row">
            <div class="col-md-2">@Html.DropDownList("priceRange_DDL", null, new { @class = "form-control" })</div>
            <div class="col-md-3">@Html.DropDownList("propertyType_DDL", null, new { @class = "form-control" })</div>
            <div class="col-md-1">@Html.DropDownList("roomType_DDL", null, new { @class = "form-control" })</div>
            <div class="col-md-2">@Html.DropDownList("district_DDL", null, new { @class = "form-control" })</div>
            <div class="col-md-1 dropdown">
                <button class="btn btn-default dropdown-toggle" type="button">
                    Premises<span class="caret" />
                </button>
                <ul class="dropdown-menu">
                    @{
                        foreach (ProProperty.Models.PremiseType item in ViewBag.PremiseType)
                        {
                            <li>
                                <a href="#" data-value="@item.premises_type_name">
                                    @Html.CheckBox(item.premises_type_name, item.isChecked)
                                    @item.premises_type_name
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="col-md-2"><button type="submit" class="btn btn-success btn-md">Go</button></div>

        </div><br />
      
    }
</div>

<div class="row">

    @if (Model != null)
    {
        @Html.Raw("<h2>Result</h2>")
        @Html.Raw("<div class='col-md-4'>")
        @Html.Raw("<table class='table table - striped data-link='row''>")
             @Html.Raw("<thead>")
                 @Html.Raw("<tr>Block</tr>")
                 @Html.Raw("<tr>Unit</tr>")
                 @Html.Raw("<tr>Address</tr>")
                 @Html.Raw("<tr>Property Type</tr>")
             @Html.Raw("</thead>")
             @Html.Raw("<tbody>")
                foreach (var item in Model)
                {
                var location = Html.Raw(Json.Encode(item.property));
                <tr>
                    <td><a href="@Url.Action("PropertyDetails", "Property", new { id = item.property.propertyID })">@Html.DisplayFor(modelItem => item.property.block)</a></td>
                    <td>@Html.DisplayFor(modelItem => item.property.unitFloor)-@Html.DisplayFor(modelItem => item.property.unitNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.property.address)</td>
                    <td>@Html.DisplayFor(modelItem => item.property.propertyType)</td>
                </tr>
                 }
            @Html.Raw("</tbody>")
        @Html.Raw("</table>")

    @Html.Raw("</div>")
    }
    <script src="http://maps.googleapis.com/maps/api/js">
    </script>

    <script>
        var map;
        function createMarker(id, address, lat, lng, type, link) {
            console.log(id + lat);
            console.log(lng);
            console.log(type);
            var image = returnIcon(type);
            console.log(image);
            var marker = new google.maps.Marker
                (
                    {
                        position: new google.maps.LatLng(lat, lng),
                        map: map,
                        icon: image,
                        title: address
                    }
                );
            //for clicking on the marker
            var infowindow = new google.maps.InfoWindow({
                content: address + '</br><a href="' + link + '"> View property </a>'
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        }
        function returnIcon(type) {
            if (type == "hdb") {
                return '/Image/icon/hdb.png';
            }
            if (type == "private") {
                return '/Image/icon/private.png';
            }
            if (type == "landed") {
                return '/Image/icon/landed.png';
            }
        }
        function returnPremises(type) {
            if (type == "dining") {
                return 1;
            }
            if (type == "train") {
                return 1;
            }
            if (type == "school") {
                return 1;
            }
            if (type == "park") {
                return 1;
            }
            if (type == "highway") {
                return 1;
            }
            if (type = "gym") {
                return 1;
            }
            if (type == "clinic.png") {
                return 1;
            }
        }
        function InitializeMap() {

            var latlng = new google.maps.LatLng(1.373334, 103.835518);
            var myOptions = {
                zoom: 11,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            //createMarker();
            @if (Model != null)
             {
                foreach (var item in Model)
                {
                    var location = Html.Raw(Json.Encode(item.property));
                    System.Diagnostics.Debug.WriteLine(location);
                      <text>createMarker(@Html.DisplayFor(modelItem => item.property.propertyID), "@Html.DisplayFor(modelItem => item.property.address)", @Html.DisplayFor(modelItem => item.property.Latitude), @Html.DisplayFor(modelItem => item.property.Longitude),"@Html.DisplayFor(modelItem => item.property.propertyType)", "@Url.Action("PropertyDetails", "Property", new { id = item.property.propertyID } )");</text>
                 }
             }
        }
        window.onload = InitializeMap;
    </script>
    @if (Model != null)
    {
        <div id="map_canvas" class="col-md-8" style="height:500px;"></div>
    }
    else
    {
        <div id="map_canvas" class="col-md-12" style="height:500px;width:1100px;"></div>
    }
</div>
<div class="row">
    <h3>Legend</h3>
    <table class="legendtable">
        <thead>
            <tr>
                <th>Property</th>
                <th>Premises</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="~/Image/icon/private.png" /> Private</td>
                <td><img src="~/Image/icon/clinic.png" /> Clinic</td>
                <td><img src="~/Image/icon/dining.png" /> Dining</td>
                <td><img src="~/Image/icon/school.png" /> School</td>
                <td></td>
            </tr>
            <tr>
                <td><img src="~/Image/icon/hdb.png"> HDB</td>
                <td><img src="~/Image/icon/gym.png" /> Gym</td>
                <td><img src="~/Image/icon/highway.png" /> Highway</td>
                <td><img src="~/Image/icon/supermarket.jpg" /> Supermarket</td>
                <td></td>
            </tr>
            <tr>
                <td><img src="~/Image/icon/landed.png"> Landed</td>
                <td><img src="~/Image/icon/park.png" /> Park</td>
                <td><img src="~/Image/icon/parking.png" /> Parking</td>
                <td><img src="~/Image/icon/train.png" /> Train</td>
                <td><img src="~/Image/icon/bus.png" /> Bus</td>
            </tr>
        </tbody>
    </table>
</div>


