@model IEnumerable<ProProperty.Models.Hdb_price_range>

@{
    ViewBag.Title = "Index";
}

<h1>Average Property Pricing</h1>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "AveragePropertySellingPrice", FormMethod.Post))
            {
            <div class="row">
                <span class="col-md-6">Room Type</span>
                <span class="col-md-6">@Html.DropDownList("roomType_DDL")</span>

            </div>
            <div class="row">
                <span class="col-md-6">District</span>
                <span class="col-md-6">@Html.DropDownList("district_DDL")</span>

            </div>
            <button type="submit" class="btn btn-success btn-md">Go</button>

        }
    </div>
</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.financial_year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.min_selling_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.max_selling_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.min_selling_price_less_ahg_shg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.max_selling_price_less_ahg_shg)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.financial_year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.town)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.room_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.min_selling_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.max_selling_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.min_selling_price_less_ahg_shg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.max_selling_price_less_ahg_shg)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.hdb_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.hdb_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.hdb_id })
                </td>
            </tr>
        }

    </table>
